

body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';

    margin: 0;
}

ul{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 1;

    
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    padding: 20px;
}

.header_logo{
    color: #f9faf8;
    font-size: 24px;
    flex: 1;
    font-weight: bold;
    
}

.title{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bold;
}

.secondary_text{
    color: #f9faf8;
    font-size: 18px;
    font-weight: 300;
}

.part_one{
    background-color: #1F2937;
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: center;
}

.block_one{
    width: 400px;
    padding: 20px;
}

.links{

}

button{
    background-color: #3882f6;
    border-radius: 5px;
    padding: 7px;
    padding-left: 35px;
    padding-right: 35px;
    color: #E5E7EB;
    border-style: none;
    margin-top:10px ;

}